<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-col></ion-col>
    <ion-col>
      <!-- <ion-card> -->
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="2" align-self: stretch></ion-col>
            <ion-col size="8" align-self: stretch>
              <ion-item *ngIf="value1 != null">

                <ion-label fixed>{{value1}}</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>

              <ion-item *ngIf="value2 != null">

                <ion-label fixed>{{value2}}</ion-label>
                <ion-input type="number"></ion-input>

              </ion-item>
              <ion-item *ngIf="value3 != null">

                <ion-label fixed>{{value3}}</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>

              <ion-item *ngIf="value4 != null">

                <ion-label fixed>{{value4}}</ion-label>
                <ion-input type="number"></ion-input>

              </ion-item>
              <ion-item *ngIf="value5 != null">

                <ion-label fixed>{{value5}}</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>

              <ion-item *ngIf="value6 != null">

                <ion-label fixed>{{value6}}</ion-label>
                <ion-input type="number"></ion-input>

              </ion-item>
              <ion-item *ngIf="value7 != null">

                <ion-label fixed>{{value7}}</ion-label>
                <ion-input type="number"></ion-input>

              </ion-item>
              <div><br /></div>
              <ion-button (click)="calculate()" expand="block">Calculate</ion-button>
            </ion-col>
            <ion-col size="2" align-self: stretch></ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
      <!-- </ion-card> -->
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-segment>
      <!-- <ion-title>Footer</ion-title> -->
      <ion-title>Inode labs</ion-title>
    </ion-segment>
  </ion-toolbar>
</ion-footer>