<ion-header>
  <ion-toolbar>
    <ion-title>
      SaaS Metrics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button (click)="itemClicked(homeList)" clear ion-item color="secondary" *ngFor="let homeList of homeLists">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{homeList.itemName}}
        </ion-card-content>
      </ion-card>
    </button>

  </ion-list>
</ion-content>